<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.csas.cashninja" >

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name=".AskNinja"
            android:label="@string/ask_ninja_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountTypeActivity"
            android:label="@string/title_activity_account_type"
            android:parentActivityName=".AskNinja" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.csas.cashninja.AskNinja" />
        </activity>
        <activity
            android:name=".TransferActivity"
            android:label="@string/title_activity_transfer"
            android:parentActivityName=".AskNinja" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.csas.cashninja.AskNinja" />
        </activity>
        <activity
            android:name=".ConfirmActivity"
            android:label="@string/title_activity_confirm"
            android:parentActivityName=".AskNinja" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.csas.cashninja.AskNinja" />
        </activity>
        <activity
            android:name=".FundsLowActivity"
            android:label="@string/title_activity_funds_low" >
        </activity>
    </application>

</manifest>
